.AppHeader {
  margin: 1em 0;
  text-align: center;
}

.AppHeader h1 {
  background-color: var(--light-blue);
  border-radius: 8px;
  padding: 8px;
  color: var(--red);
  border: 2px solid var(--blue);
}

.AppHeader nav {
  font-size: 1.5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-weight: 700;
  margin-top: 1em;
}

.AppHeader a {
  text-align: center;
  padding: 1em;
  background-color: var(--blue);
  color: var(--white);
}

.AppHeader a.active {
  background-color: var(--light-blue);
  color: inherit;
  font-weight: 900;
}

.AppHeader a:hover {
  opacity: .8;
}
