.App {
  --red: #E63946;
  --white: #F1FAEE;
  --light-blue: #A8DADC;
  --blue: #457B9D;
  --dark-blue: #1D3557;

  /* background-color: var(--dark-blue); */
  font-size: 10px;
  color: var(--dark-blue);
  height: 100%;
  padding: 1em;
}

h1, h2, h3 {
  margin: 0
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}
